.dashboard-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  border: 1pxsolid #b2bcff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.title-dashboard {
  margin: 10px;
  color: #031069;
  text-align: center;
}

#confirmed {
  color: green;
  font-size: 14px;
}

#pending {
  color:orange;
  font-size: 14px;
}

.blue-link {
 color: #031069;
}

.no-request {
  color: darkgrey;
  font-style: italic;
  font-size: 22px;
  font-weight: lighter;
}
