.btn-ghost {
  color: white;
  background-color: #031069;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: white;
}


.padding-killer {
  padding: 15px 24px;
}

.btn-danger {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-danger:hover {
  opacity: 0.8;
  color: white;
}

.btn-success {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-declined {
  color: #031069;
  background-color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-declined:hover {
  opacity: 0.8;
  font-weight: bolder;
  border: #031069 solid 1px;
}
