.card-machine {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-machine > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-machine a {
  text-decoration: none;
}

.card-machine li {
  width: 100%;
}

.card-machine h2 {
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
}

.card-machine p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-machine .card-machine-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-machine-infos .card-machine-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-machine span {
  font-size: 18px ;
}

.card-product-dashboard {
  overflow: hidden;
  height: 120px;
  width: 65%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 0px;
  border-radius: 4px;
}

.card-product-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-dashboard a {
  text-decoration: none;
}

.card-product-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-dashboard .card-product-infos-dashboard {
  padding: 16px;
}

.card-list {
  width: 65%;
}
