.container-form {
  display: flex;
  justify-content: space-between;
}

.container-2 {
  margin-top : 18px;
  border: 1px solid #b2bcff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-2 h4 {
  color: #031069;
}
