.navbar {
  background-color: #031069;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar a{
  color: white;
}

.navbar-nav {
  background-color: #031069;
  width: 350px;
  justify-content: space-between;
  font-size: 20px;
}

.navbar-brand {
  margin: 0 auto;
}

#navbarSupportedContent {
  display: block;
  position: absolute;
  right: 50px;
}

.navbar-lewagon .navbar-brand img {
  size: 50px;
}

.dropdown-menu {
  box-shadow: rgba(113, 113, 113, 0.24) 0px 3px 8px;
  background-color: #031069;
  margin-left: 20px;
}

.dropdown-item {
  background-color: #031069;
  color: white;
  font-size: 20px;
}

.dropdown-item:hover {
  background-color: white;
  color: #031069;
}

.nav-link {
  color: #d5daf4!important;
}
