.navbar-lewagon {
  justify-content: space-between;
  background: #031069;
  position: center;
  margin: 0 auto;
  a {
    color: white!important;
  }
}

.navbar-brand {
  margin: 0 auto;
}

#navbarSupportedContent {
  display: block;
  position: absolute;
  right: 10px;
}

.navbar-lewagon .navbar-brand img {
  size: 50px;
}

.dropdown-menu {
  background-color: black;

}
