.typewriter {
	display: inline-block;
  color: white;
  padding-bottom: 40px;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
    // width: 0;
  	letter-spacing: 2px;
 	  animation: typing 8s steps(49, end), blink 0.75s step-end infinite;
    animation-iteration-count: infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}
