<div class="map-card">
  <div class="rounded-4">
    <% if machine.photos.attached? %>
                      <%= cl_image_tag machine.photos.first.key, height: 100, width: 200, crop: :fill %>
                    <% else %>
                      <%= cl_image_tag "", height: 30, width: 40, crop: :fill %>
                    <% end %>
  </div>
  <h1> <%= link_to machine.name, machine_path(machine) %></h1>
  <p><strong>Year of travel:</strong> <%= machine.period_specific %></p>
</div>
